<div class="container">
    <div class="row">
      <div class="column" *ngFor="let outfit of outfits">
        <div class="card">
          <mat-card [routerLink]="['/', outfit.name]">
            <img [src]="'./assets/' + outfit.image" class="card-image">
            <mat-card-content class="edit">
              <p>{{ outfit.name }}</p>
              <p class="size">{{ outfit.description }}</p>
              <p>{{price}}</p>
              <hr>
              <p class="ed">show more details</p>
            </mat-card-content>
          </mat-card>
          <button class="btn btn-primary" (click)="addToCart(outfit)">Add Cart</button>
        </div>
      </div>
    </div>
  </div>
