<mat-expansion-panel class="custom-panel">
    <mat-expansion-panel-header>
      <div><br><br><br><br>
        <label>Shop</label>
        <mat-form-field>
          <mat-select placeholder="ex:- phone">
            <mat-option routerLink="/iphone">iphone</mat-option>
            <mat-option routerLink="/realme">realme</mat-option>
            <mat-option routerLink="/outfit">outfit</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  